* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #f5f5f5;
	--borderRadius: 0.25em;
	--hover: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(50, 50, 50, 0.2);
	border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(150, 150, 150, 0.8);
}

body {
	height: 100vh;
	background-color: var(--white);
	font-family: "Lato", sans-serif;
}

.parallax-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 10px;
	perspective-origin: 50%;
}

.wrapper {
	width: 95%;
	max-width: 100rem;
	margin: 0 auto;
}

.wrapper--header {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: -10;
}

.hamburger-container {
	width: 2.25rem;
	height: 2rem;
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	cursor: pointer;
}

.hamburger-button {
	position: relative;
	width: 100%;
	height: 0.25rem;
	background-color: darkblue;
	border-radius: 1px;
	transition: transform 300ms, background-color 200ms;
}
.hamburger-button::before {
	content: "";
	position: absolute;
	top: -0.75rem;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkblue;
	border-radius: 1px;
	transition: transform 300ms, opacity 300ms;
}
.hamburger-button::after {
	content: "";
	position: absolute;
	bottom: -0.75rem;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkblue;
	border-radius: 1px;
	transition: transform 300ms, opacity 300ms;
}

.hamburger-button--active .hamburger-button::before {
	transform: rotateZ(40deg) translate(0.25rem, 0.75rem);
}
.hamburger-button--active .hamburger-button {
	background-color: rgba(0, 0, 0, 0);
	transform: translateX(0.25rem);
}
.hamburger-button--active .hamburger-button::after {
	transform: rotateZ(-40deg) translate(0.25rem, -0.75rem);
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	margin-right: 13px;
	padding: 1rem 0;
	background-color: white;
	color: #232323;
	font-size: 1.15em;
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
	z-index: 2;
	overflow-y: hidden;
	scrollbar-gutter: stable;
}

.header__logo {
	font-size: 2rem;
	font-weight: 800;
	font-family: "Unbounded", cursive;
}

.header__logo a {
	color: inherit;
	text-decoration: none;
}

.header__nav {
}

.header__nav ul {
	display: flex;
	justify-content: center;
	gap: 1.4em;
}

.header__nav ul li {
	list-style: none;
}

.header__link {
	position: relative;
	height: 100%;
	color: inherit;
	text-decoration: none;
	transition: color 300ms;
}

.header__link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 100%;
	background-color: darkblue;
	transform: scaleX(0);
	transition: transform 300ms;
}

.header__link:hover {
	color: black;
}

.header__link:hover::after {
	transform: scaleX(1);
}

.header__ctas {
	display: flex;
	justify-content: flex-end;
	gap: 0.5em;
}

.header__ctas li {
	list-style: none;
}

.header__cta {
	padding: 0.675em 1.25em;
	color: inherit;
	font-size: 0.9em;
	border-radius: var(--borderRadius);
	text-decoration: none;
	transition: all 300ms;
}

.header__cta:hover {
	background-color: var(--hover);
	color: darkblue;
}

.header__cta--main {
	background-color: darkblue;
	color: var(--white);
}

.main {
	width: 100%;
	margin: 6rem 0;
	transform-style: preserve-3d;
}

.main__title {
	margin-bottom: 2.155rem;
	font-size: 1.75em;
}

.main__container {
	margin-bottom: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
	grid-auto-rows: minmax(max-content, 32rem);
	gap: 2.5rem;
}

.card {
	padding: 2rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2rem;
	background: rgba(255, 255, 255, 0.95);
	border-radius: var(--borderRadius);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card__photo {
	width: 60%;
	max-width: 12rem;
	aspect-ratio: 1 / 1;
	border-radius: 50rem;
	object-fit: cover;
}

.card__name {
	font-size: 1.75em;
}

.card__text {
	color: #121212;
}

.footer {
	margin: 1.75rem 0;
	font-size: 1.2em;
	color: #434343;
	text-align: center;
}

.footer__link {
	color: black;
	text-underline-offset: 2px;
	transition: background-color 300ms;
}

.footer__link:hover {
	color: darkblue;
}

@media screen and (max-width: 62.5rem) {
	.wrapper--header {
		flex-flow: row wrap;
	}

	.main {
		margin: 9rem 0;
	}

	.header__nav {
		order: 3;
		width: 100%;
		margin-top: 1rem;
		padding: 1rem 0 0;
		border-top: 2px solid darkblue;
	}

	.header__ctas {
		order: 2;
	}
}

@media screen and (max-width: 35rem) {
	.header {
		max-height: 4.5rem;
		transition: max-height 300ms ease-out;
	}

	.header::-webkit-scrollbar {
		width: 0;
	}

	.hamburger-container {
		display: flex;
		order: 2;
	}

	.header--active {
		max-height: 30rem;
		overflow-y: auto;
	}

	.header__nav,
	.header__ctas {
		gap: 1rem;
	}

	.header__ctas {
		width: 100%;
		margin: 1.75rem 0;
		justify-content: flex-start;
		flex-flow: row nowrap;
	}

	.header__nav {
		margin: 0;
		padding: 0.75rem;
	}

	.header__nav ul {
		flex-flow: column nowrap;
		gap: 1rem;
	}

	.main {
		margin: 6rem 0;
	}
}
